@import url("https://ac.blooket.com/@codeblooket/blooket-frontend-components/v0.2/assets/core.css");
@import url("https://ac.blooket.com/@codeblooket/blooket-frontend-components/v0.2/assets/blooket-frontend-components-j2T4QpgT.css");
.Sidebar_sidebar__J7H_G {
    display: flex;
    position: fixed;
    top: 0;
    left: 100vw;
    flex-direction: column;
    justify-content: space-between;
    z-index: var(--z-index-top);
    transition: transform var(--transition-speed);
    background-color: var(--purple);
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--white)
}

@media (min-width:850px) {
    .Sidebar_sidebar__J7H_G {
        left: 0;
        z-index: var(--z-index-middle);
        box-shadow: inset -10px 0 var(--gray-shadow);
        padding: 20px 10px 20px 0;
        width: 220px
    }
}

@media print {
    .Sidebar_sidebar__J7H_G {
        display: none !important
    }
}

.Sidebar_overlay__Ti3Bb {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--z-index-middle) + 1);
    background-color: var(--gray-transparent);
    width: 100%;
    height: 100%;
    overflow: auto
}

.Sidebar_show___H6Mh {
    transform: translate(-100%)
}

.Sidebar_close__yWD9a {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 15px 20px 0;
    width: 100%;
    color: var(--white);
    font-size: var(--font-xxl);
    text-align: right
}

@media (min-width:850px) {
    .Sidebar_close__yWD9a {
        display: none
    }
}

.Sidebar_navbar__8eIYV {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: var(--z-index-middle);
    box-shadow: inset 0 -6px var(--gray-shadow);
    background-color: var(--purple);
    padding: 0 15px 6px;
    width: 100%;
    height: 55px
}

@media (min-width:850px) {
    .Sidebar_navbar__8eIYV {
        display: none
    }
}

@media print {
    .Sidebar_navbar__8eIYV {
        display: none !important;
        height: 0 !important
    }
}

.Sidebar_hamburger__RWQtc {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--white)
}

@media (min-width:850px) {
    .Sidebar_logoMobile__XQHxS {
        display: none
    }
}

.Sidebar_logoDesktop__NeFcd {
    display: none
}

@media (min-width:850px) {
    .Sidebar_logoDesktop__NeFcd {
        display: block;
        margin: 0 auto 10px;
        width: 80%
    }
}

.Sidebar_button__sz70E {
    margin: 0 auto 14px;
    width: -moz-fit-content;
    width: fit-content
}

.Sidebar_button__sz70E * {
    font-weight: 200
}

.Sidebar_button__sz70E.Sidebar_notLoggedIn__SE9Xw {
    width: 90%
}

.Sidebar_button__sz70E.Sidebar_notLoggedIn__SE9Xw * {
    font-weight: var(--font-regular)
}

.Sidebar_button__sz70E.Sidebar_notLoggedIn__SE9Xw button {
    width: 100%
}

.Sidebar_buttonIcon__QPn6z {
    margin-right: 10px
}

.Sidebar_list__ljw79 {
    margin-top: 0;
    font-size: var(--font-lg);
    list-style: none
}

@media (min-width:850px) {
    .Sidebar_list__ljw79 {
        margin-top: 25px
    }
}

.Sidebar_link__pbkfx {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: var(--transition-speed) linear;
    cursor: pointer;
    margin: 8px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 30px;
    width: 190px;
    height: 40px
}

.Sidebar_listIcon__rg5X6 {
    margin-top: 2px;
    width: 26px;
    font-size: 22px;
    text-align: center
}

.Sidebar_text__TwkTk {
    margin-left: 10px
}

.Sidebar_active__87D3Q,
.Sidebar_link__pbkfx:hover {
    background-color: var(--white);
    color: var(--purple)
}

.Sidebar_footerWrapper__0UWNA {
    display: flex;
    flex-direction: column
}

.Sidebar_footer__GbFFT {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px
}

@media (min-width:850px) {
    .Sidebar_footer__GbFFT {
        margin: 0 -4px
    }
}

.Sidebar_logout__ZNXtY {
    display: flex
}

@media (min-width:850px) {
    .Sidebar_logout__ZNXtY {
        display: none
    }
}

.Sidebar_plusLink__R_HQ2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .2s;
    cursor: pointer;
    margin: 15px auto 0;
    outline: none;
    border-radius: 5px;
    background-color: var(--orange-plus);
    padding: 5px 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none
}

.Sidebar_plusLink__R_HQ2:hover {
    transform: scale(.95)
}

.Sidebar_plusIcon__esudf {
    margin-right: 10px;
    font-size: 18px;
    line-height: 31.5px
}

@media (max-width:850px) {
    .Sidebar_hiddenMobile__ilHnt {
        display: none
    }
}

.Sidebar_blook__oW43b {
    margin-left: 15px;
    width: -moz-fit-content;
    width: fit-content
}

:root {
    --red-delete: #c43a35;
    --orange-plus: #ff7b24;
    --green-bright: #4cc22e;
    --green-spreadsheet: green;
    --green-khanacademy: #13bf97;
    --green-khanacademy-light: #82d3bb;
    --green-khanacademy-lightest: #f6fbfa;
    --blue-purple: #4053b3;
    --purple-khanmigo: #5f1e5c;
    --purple-light: #f1edf8;
    --gray-shadow-dark: rgba(0, 0, 0, .3);
    --gray-border-table: rgba(0, 0, 0, .05);
    --white-transparent-dark: hsla(0, 0%, 100%, .3);
    --red-epic-blook: #be0000;
    --orange-legendary-blook: #ff910f;
    --green-uncommon-blook: #4bc22e;
    --blue-rare-blook: #0a14fa;
    --blue-chroma-blook: #0cf;
    --blue-unique-blook: teal;
    --purple-mystical-blook: #a335ee;
    --Common: var(--white);
    --Uncommon: var(--green-uncommon-blook);
    --Rare: var(--blue-rare-blook);
    --Epic: var(--red-epic-blook);
    --Legendary: var(--orange-legendary-blook);
    --Chroma: var(--blue-chroma-blook);
    --Unique: var(--blue-unique-blook);
    --Mystical: var(--purple-mystical-blook);
    --card-shadow: inset 0 -7px var(--gray-shadow), 0 0 4px var(--gray-shadow-light);
    --logo-shadow: 2px 2px 8px var(--gray);
    --card-radius: 10px;
    --max-width: 1200px;
    --bottom-margin: 40px;
    --grid-gap: 30px;
    --grid-items-discover: 8
}

:root:has(.no-scroll) {
    overflow: hidden
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body,
html {
    max-width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light
}

body {
    background: var(--white);
    color: var(--gray-text);
    font-family: var(--font-nunito)
}

::selection {
    background: var(--blue-transparent)
}

a {
    color: inherit;
    text-decoration: none
}

p {
    font-size: var(--font-md)
}

h1 {
    margin-bottom: 10px;
    font-size: var(--font-xxl)
}

h2 {
    margin-bottom: 16px;
    font-size: var(--font-xl)
}

h3 {
    font-size: var(--font-lg)
}

button {
    border: none;
    background-color: transparent;
    font-family: inherit
}

@media (min-width:850px) {
    h1 {
        font-size: var(--font-xxxl)
    }
    h2 {
        font-size: var(--font-xxl)
    }
    h3 {
        font-size: var(--font-xl)
    }
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none
}

.sr-only {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden
}

body.news-show {
    height: 100dvh;
    overflow: hidden
}

.rs-tooltip.rs-tooltip-arrow.placement-bottom,
.rs-tooltip.rs-tooltip-arrow.placement-left,
.rs-tooltip.rs-tooltip-arrow.placement-right,
.rs-tooltip.rs-tooltip-arrow.placement-top {
    padding: 5px 13px;
    font-size: calc(var(--font-xs) + 1px);
    text-align: center
}

.rs-picker-popup {
    z-index: var(--z-index-top) !important
}